---
import MainLayout from "../layouts/MainLayout.astro";
import ax1 from "../assets/images/ax1.jpg";
import ax2 from "../assets/images/ax2.jpg";
import ax3 from "../assets/images/ax3.jpg";
import ax4 from "../assets/images/ax4.jpg";
import ax5 from "../assets/images/ax5.jpg";
import ax6 from "../assets/images/ax6.jpg";
import ax7 from "../assets/images/ax7.jpg";
import ax8 from "../assets/images/ax8.jpg";
import ax9 from "../assets/images/ax9.jpg";
import ax10 from "../assets/images/ax10.jpg";
import ax11 from "../assets/images/ax11.jpg";
import ax12 from "../assets/images/ax12.jpg";
---

<MainLayout>
  <section>
      <div class="produkt">
        <div class="produkt-title">
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <h2>Neue Produkte</h2>
        </div>
        <div class="produkt-content">
          <div class="produkt-card">
            <div class="card-image">
              <a href="/lyann"
                ><img
                  src={ax1.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Lyann Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>

                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="/warenkorb">In den Warenkorb</a>
            </div>
          </div>
          <div class="produkt-card">
            <div class="card-image">
              <a href="/eleganza"
                ><img
                  src={ax2.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Eleganza Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="/warenkorb">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="/mivora"
                ><img
                  src={ax3.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Mivora Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="warenkorb">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="#"
                ><img
                  src={ax4.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Mirenza Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="#"
                ><img
                  src={ax5.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Lorenza Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax6.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Lucina Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax7.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Serenza Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax8.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Stilora Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax9.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Lumina Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax10.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Valenza Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax11.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Refina Smartwatch</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>

          <div class="produkt-card">
            <div class="card-image">
              <a href="http:/card"
                ><img
                  src={ax12.src}
                  alt="Bild"
                  width="350px"
                  height="350px"
                /></a
              >
              <span>Sonderangebot</span>
            </div>
            <div class="card-content">
              <h3>Eleganza mini</h3>
              <div class="content-btn">
                <div class="compare-btn">
                  <a href="#"><i class="fa-solid fa-shuffle"></i></a>
                  <span>Vergleich</span>
                </div>
                <label class="wishlist">
                  <input type="checkbox" class="heart-checkbox" />
                  <i class="fa-solid fa-heart heart-icon"></i>
                  <span>Artikel merken</span>
                </label>
                <span>250$</span>
              </div>
            </div>
            <div class="card-btn">
              <a href="#">In den Warenkorb</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <style>

  .container{
    margin : 0 auto;
  }
      .produkt {
        margin-top: 200px;
        margin-bottom: 100px;
    
      }

      .produkt-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
      }
      .produkt-title i {
        color: #007aff;
        padding: 4px;
      }
      .produkt-title h2 {
        font-size: 2rem;
        padding-right: 30px;
        padding: 10px;
        color: #575757;
      }
      .produkt-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }

      .produkt-content .produkt-card {
        background-color: #f0f6ee;
        width: 350px;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 0 4px #d6cfcf;
      }

      .produkt-card .card-image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 10px;
      }
      .produkt-card .card-image img {
        width: 200px;
        height: 200px;
        margin-top: 40px;
        border-radius: 30px;
        object-fit: cover;
      }
      .produkt-card .card-image h3 {
        right: 20px;
      }
      .produkt-card .card-image span {
        position: absolute;
        font-size: 1rem;
        font-weight: 600;
        left: 110px;
        top: 5px;
        background-color: rgb(237, 63, 63);
        height: 28px;
        border-radius: 4px;
        padding: 0 5px;
        color: white;
      }
      .produkt-card .card-content {
        text-align: center;
      }
      .produkt-card .card-content h3 {
        padding: 20px 0;
        font-size: 1.3rem;
      }
      .produkt-card .card-content .content-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
      }
      .produkt-card .card-content .content-btn .compare-btn {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px 8px;
        border-radius: 10px;
      }
      .produkt-card .card-content .content-btn .compare-btn i {
        color: #575757;
      }
      .produkt-card .card-content .content-btn .compare-btn span {
        font-size: 1rem;
        padding-right: 5px;
        color: #575757;
      }
      .produkt-card .card-content .content-btn .wishlist {
        display: flex;
        align-items: center;
        padding: 5px 8px;
        border-radius: 10px;
        font-size: 0.9rem;
        color: #575757;
        background-color: rgba(0, 0, 0, 0.2);
      }
      .heart-icon {
        color: gray;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
      }

      .heart-checkbox {
        display: none;
      }

      .heart-checkbox:checked + .heart-icon {
        color: red;
      }

      .produkt-card .card-content .content-btn span {
        font-weight: 600;
      }
      .produkt-card .card-btn {
        margin-top: 10px;
        text-align: center;
        padding: 10px 0;
      }
      .produkt-card .card-btn a {
        font-size: 1.3rem;
        font-weight: bold;
        color: blue;
        border-top: 1px solid #575757;
        padding-top: 10px;
      }

    </style>
  </section></MainLayout
>
